* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.mainNav {
  width: 100%;
  height: 7vh;
  background-color: rgb(53, 50, 50);
  display: flex;
  justify-content: space-between;
  .navLogo {
    color:white ;
    margin-left: 40px;
    margin-top: 20px;
  }
  .navLii {
    margin-top: 20px;
    margin-right: 40px;
    .li {
      color: white;
      margin: 10px;
    }
  }
}
