.mainFoo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  .fooIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
}
